username: onos
password: onos
networks_url: http://127.0.0.1/onos/whitesdn/networks/
ports_url: http://127.0.0.1/onos/whitesdn/network/hosts/
subnets_url: http://127.0.0.1/onos/whitesdn/network/subnets/
